@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
  background: rgb(3, 201, 201);
  box-shadow: 10px 6px 10px 2px rgba(28, 24, 24, 0.619);
  
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.8rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: rgb(60, 56, 56);
  padding: 0 5px;
  border-radius: 30%;
  color: skyblue;
}
/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("https://images.unsplash.com/photo-1602306022553-2bd3c9928f0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D&w=1000&q=80") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
 

}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
  opacity: 1;
  box-shadow: 0px 0px 24px 2.5px rgba(0,0,0,0.75);
}
.banner-title {
  margin: 40px auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: #121212;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 4px 10px 8px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
  
 
  
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: yellowgreen;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  cursor: pointer;
  font-weight: 900;
  border: none;
  box-shadow: 0px 0px 24px 2.5px rgba(0,0,0,0.75);
  border-radius: 8px;
  
}
.banner-btn:hover {
  background: black;
  color: yellowgreen;
  font-weight: 700;
}
/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
  box-shadow: 0px 0px 24px 2.5px rgba(0,0,0,0.75);
}
.section-title h2 {
  margin: 40px auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: #121212;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 4px 10px 8px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 24px 2.5px rgba(0,0,0,0.75);
  border-radius: 31px 5px 33px 4px;
  
}
.img-container:hover{
  transform:scale(1.05);

}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: black;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
  color: skyblue;
}
.bag-btn:hover {
  color: black;
  background: beige;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.8;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color:whitesmoke;
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
  color: whitesmoke;

}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  color: whitesmoke;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  
  height: 150px;
  box-shadow: 0px 0px 24px 2.5px rgba(0,0,0,0.75);
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}
.cart-item img {
  width: 75px;
  height: 75px;
  margin-left: 10px;
  box-shadow: 0px 0px 24px 2.5px rgba(0,0,0,0.75);
  border-radius: 12px 2px 12px 2px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-weight: 700;
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
  font-weight: 700;
}
.item-amount {
  text-align: center;
  margin-right: 20px;
  color: skyblue;
}
.remove-item {
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: whitesmoke;
  background-color: black;
  box-shadow: 0px 0px 24px 2.5px rgba(0,0,0,0.75);
}
.fa-chevron-up,
.fa-chevron-down {
  color: black;
  cursor: pointer;
  margin-right: 20px;
}
.clear-cart{
    color: rgb(11, 11, 11);
    font-size: 20px;
    background-color: black;
    border-radius: 10px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    width: 220px;
    height: 50px;
    font-weight: 900;
}
.clear-cart:hover{
  
    color: black;
    height: 60px;
    width: 250px;
}
.pay-btn{
    color: rgb(11, 11, 11);
    font-size: 20px;
    background-color: black;
    border-radius: 10px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    width: 220px;
    height: 50px;
    font-weight: 900;
}
.pay-btn:hover{
    
    color: black;
    height: 60px;
    width: 250px;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

/* ---------------Footer---------------------- */

/* Add this to your existing CSS or in a separate stylesheet */

/* Footer Styles */
footer {
  background-color: #d5afaf;
  color: #fff;
  padding: 20px 0;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  box-shadow: 0px 0px 24px 2.5px rgba(0,0,0,0.75);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  text-align: center;
}

.footer-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-content p, .footer-content a {
  margin-bottom: 8px;
}
